@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
:root{
    --main-color: #f5f5f5;
    --yes-button-color: #4f000b;
    --yes-button-color-hover: #7f000b;
    --no-button-color: #ce4257;
    --no-button-color-hover: #ff5e6b;
    --text-color: #fdfcdc;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Protest Riot', sans-serif;
    height: 100vh;
    background: url('./assets/bg.png') no-repeat;
    background-size: cover;

}

a{
    text-decoration: none;
    color: var(--main-color);

}

#root{
    height: 100%;
   
}

.container{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: white;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(15deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    opacity: 0.8;
    
}

.container .card::after{
    content: "";
    display: block;
    background: url('./assets/HEART.png') no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -50px;
    left: -270px;
    height: 100%;
    max-height: 100px;
    transform: ;
    width: 100%;
    animation: pulse 2s infinite alternate;
}

.gif{
    height: 100%;
    width: 100%;
    max-height: 200px;
}

.gif img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(-30deg);

    }
    50% {
        transform: scale(1.1) rotate(-20deg);
    }
    100% {
        transform: scale(1) rotate(-30deg);
    }
}

.container .card h1{
    color: #590d22;
}

.button-group{
    display: flex;
    gap: 5px;
    justify-content: center;
    
}

button{
    background: none;
    border: none;
    cursor: pointer;
}
.button{
    /* background-color: var(--yes-button-color); */
    padding: 0.3rem 2rem;
    border: none;
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Protest Riot', sans-serif;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.yes-button{
    background-color: var(--yes-button-color);
}

.yes-button:hover{
    background-color: var(--yes-button-color-hover);
}

.no-button{
    background-color: var(--no-button-color);
}

.no-button:hover{
    background-color: var(--no-button-color-hover);
}